html,body {
    height: 100%;
}
html,body,div,ul,li,hr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 720px;
    margin: 0 auto;
    font: 15px/22px sans-serif;
    padding: 12px;
}
hr {
    outline: 0;
    border: 1px solid #dbdbdb;
    margin: 10px 0;
}
ul li {
    list-style: none;
    padding: 3px 0 3px 21px;
    margin: 7px 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::after {
    content: attr(data-date);
    float: right;
    color: #ccc;
    font-size: 12px;
}
ul li::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
}
li.file::before {
    background-image: url("ui/file.svg");
}
li.file {
    color: #49a9b3;
}
li.folder {
    color: #5048ae;
}
li.folder::before {
    background-image: url("ui/folder.svg");
}
li.go-back::before {
    display: none;
}
input[type="password"] {
    height: 28px;
    width: 280px;
    display: inline-block;
    outline: 0;
    border: 1px solid #ccc;
}
form {
    text-align: center;
    border: 1px solid #ccc;
    padding: 40px;
}
label {
    font-size: 15px;
    line-height: 22px;
    color: #797979;
    padding-bottom: 20px;
    display: inline-block;
}
button,
input[type="submit"] {
    display: inline-block;
    outline: 0;
    border: 0;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    margin: 5px 10px 5px 0;
    background: #fff;
    color: #797979;
}
button#add-note,
button#save-note {
    color: #af4040;
}
button#add-folder {
    color: #4b40af;
}
button#logout,
button#delete-note,
button#delete-folder,
button#rename-note,
button#rename-folder {
    float: right;
}
button {
    width: 22px;
    height: 22px;
}
button#add-folder {
    background-image: url("ui/add-folder.svg");
}
button#add-note {
    background-image: url("ui/add-file.svg");
}
button#go-back {
    background-image: url("ui/arrow-left.svg");
}
button#save-note {
    background-image: url("ui/save.svg");
}
button#logout {
    background-image: url("ui/logout.svg");
}
button#delete-note {
    background-image: url("ui/delete.svg");
}
button#rename-note {
    background-image: url("ui/rename.svg");
}
#note-name {
    position: absolute;
    top: 33px;
    left: 50%;
    width: auto;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: #ccc;
    background: #fff;
    display: inline-block;
    transform: translateX(-50%);
    padding: 0 10px;
}
textarea {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 70px);
    resize: none;
    border: 0;
    outline: 0;
    font: inherit;
}
section {
    height: 100%;
    position: relative;
}
.hidden {
    display: none;
}